.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  position: relative;
}

@media (min-width: 768px) and (max-width: 1330px) {
  .nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .nav__image1, .nav__image2, .nav__image3 {
    height: auto;
  }
  .nav__image1 {
    width: 15vw;
  }
  .nav__image2 {
    width: 25vw;
  }
  .nav__image3 {
    width: 30vw;
  }
}

.nav__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 768px) and (max-width: 1330px) {
  .nav__image {
    margin: 15px 0 !important;
  }
}

.nav__image2 {
  margin: 0 118px 0 28px;
}

@media (min-width: 768px) and (max-width: 1330px) {
  .nav__image2 {
    margin: 0 50px !important;
  }
}

@media screen and (max-width: 767px) {
  .nav__image2 {
    margin: 0 4%;
  }
}

.nav__image3 {
  margin-left: 35px;
}

@media screen and (max-width: 767px) {
  .nav__image3 {
    margin-left: 0;
  }
}

.nav__categories {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 18px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav__category {
  margin: 15px 0;
  font-size: 20px;
  color: #0a2f73;
  text-decoration: none;
}

.nav__phone {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (max-width: 1330px) {
  .nav__phone {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 768px) and (max-width: 1330px) {
  .nav__hamburger {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: static;
    width: 80%;
  }
}

@media screen and (min-width: 1331px) {
  .nav__hamburger {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.nav__hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  width: 450px;
  background: none;
  list-style-type: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: none;
          transform: none;
}

@media (min-width: 768px) and (max-width: 1330px) {
  .nav__hamburger-menu {
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 767px) {
  .nav__hamburger-menu {
    position: absolute;
    margin: 0;
    top: 100%;
    left: 0;
    width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background: rgba(41, 171, 226, 0.85);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(-1000%, 0);
            transform: translate(-1000%, 0);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}

.nav__hamburger-menu a {
  text-decoration: none;
  color: #0a2f73;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.nav__hamburger-menu a:hover {
  color: tomato;
}

.nav__hamburger-menu li {
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
}

.nav__hamburger-icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  margin-right: 7px;
}

@media screen and (min-width: 768px) {
  .nav__hamburger-icon {
    display: none;
  }
}

.nav__hamburger-icon span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

@media screen and (min-width: 768px) {
  .nav__hamburger-icon span {
    display: none;
  }
}

.nav__hamburger-icon span:first-of-type {
  margin-top: 10px;
}

.nav__hamburger-icon input {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.nav__hamburger-icon input:not(:checked) ~ span {
  background: rgba(41, 171, 226, 0.85);
}

.nav__hamburger-icon input:not(:checked):hover ~ span {
  background: #0a2f73;
}

.nav__hamburger-icon input:checked ~ span {
  background: #0a2f73;
}

.nav__hamburger-icon input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.nav__hamburger-icon input:checked ~ .span1 {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(0, -2px);
          transform: rotate(45deg) translate(0, -2px);
}

.nav__hamburger-icon input:checked ~ .span2 {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.nav__hamburger-icon input:checked ~ .span3 {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1920px;
  width: 100%;
}

.section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  width: 100%;
  z-index: 10;
}

.section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (max-width: 767px) {
  .section__wrapper {
    text-align: center;
  }
}

.section .-rows {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section .-cols {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__title {
  font-size: 36px;
  font-family: 'Merriweather', serif;
  color: #0a2f73;
}

@media screen and (max-width: 767px) {
  .section__title {
    text-align: center;
  }
}

.section__subtitle {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .section__subtitle {
    text-align: center;
    margin: 0 3%;
  }
}

@media screen and (max-width: 850px) {
  .section .--hide-br850 br {
    display: none;
  }
}

.section__underline {
  height: 2px;
  width: 143px;
  background-color: #29abe2;
  margin: 12px 0;
}

.section .-font44 {
  font-size: 44px;
}

@media screen and (max-width: 767px) {
  .section .-font44 {
    font-size: 32px;
  }
}

.section .-font30 {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .section .-font30 {
    font-size: 25px;
  }
}

.section .-weight300 {
  font-weight: 300;
}

.section .-weight700 {
  font-weight: 700;
}

.section .--text-centered {
  text-align: center;
}

.--color-white {
  color: #ffffff;
}

.--color-gold {
  color: #ffba00;
}

.--color-darkblue {
  color: #0a2f73;
}

.--color-blue {
  color: #006ace;
}

.--color-lightblue {
  color: #29abe2;
}

.background--home-sea {
  height: 710px;
  background-image: url("src/home-image.png");
  background-position: 0% 100%;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .background--home-sea {
    height: auto;
  }
}

.background--home-crest {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("src/home-crest.png");
  background-position: 100%;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .background--home-crest {
    background-image: url("src/home-crest2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
  }
}

.background--home-opinions {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("src/home-opinions.png");
  background-position: 100%;
  background-size: cover;
}

.footer {
  width: 100%;
  margin-top: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (max-width: 789px) {
  .footer a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer a img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 5px;
}

.footer__upper {
  color: #ffffff;
  background-color: #006ace;
}

.footer__upper .section__title {
  font-size: 18px;
  font-weight: 700;
  color: #ffba00;
}

@media screen and (max-width: 789px) {
  .footer__upper .section__title {
    margin-top: 30px;
  }
}

.footer__upper .section__subtitle {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  margin: 12px 0;
}

@media screen and (max-width: 1230px) {
  .footer__upper .section__subtitle {
    width: 80%;
  }
}

.footer__upper .section__wrapper {
  margin-top: 48px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

@media screen and (max-width: 789px) {
  .footer__upper .section__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.footer__upper .section__wrapper .section__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.footer__upper .section__wrapper .section__wrapper .section__subtitle {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__upper .section__wrapper .section__wrapper span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 789px) {
  .footer__upper .section__wrapper .section__wrapper span {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__upper .section__wrapper .section__wrapper span .section__icon {
  margin-left: 8px;
}

.footer__upper .section__image {
  margin-right: 130px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (min-width: 790px) and (max-width: 1200px) {
  .footer__upper .section__image {
    margin-right: 30px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 789px) {
  .footer__upper .section__image {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
    margin: 0;
  }
}

.footer__lower {
  font-size: 12px;
  font-weight: 300;
  color: #ffba00;
  background-color: #0052a0;
  padding: 23px 0;
  width: 100%;
}

.footer .section__underline {
  width: 100%;
  height: 1px;
  opacity: 0.2;
  margin: 25px 0;
}

.form input {
  width: 100%;
  height: 33px;
  font-size: 25px;
}

.--home {
  padding: 0 5% 5%;
  background-color: #006ace;
}

@media (min-width: 501px) and (max-width: 1030px) {
  .--home {
    padding: 0 15% 3%;
  }
}

.--home label {
  display: block;
  margin: 10px 0 12px;
  font-size: 14px;
}

.--home .--note {
  font-size: 12px;
  margin: 11px 0 9px;
}

@media screen and (max-width: 370px) {
  .--home .--note {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.--home .form__image {
  padding-right: 9px;
  position: relative;
  bottom: 1px;
}

.--home .form__link {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.--home .form__submit {
  height: 65px;
  background-color: #ffba00;
  color: #0a2f73;
  font-size: 22px;
  font-weight: 700;
  border: none;
  padding: 0;
}

.home-sea {
  color: #fff;
  margin-bottom: 96px;
}

@media screen and (max-width: 1030px) {
  .home-sea {
    height: auto;
  }
}

.home-sea .section__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 131px 2% 0;
}

@media screen and (max-width: 1030px) {
  .home-sea .section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    text-align: center;
  }
}

.home-sea .section__title {
  margin-bottom: 25px;
  line-height: 1.5;
  color: #ffffff;
}

@media (min-width: 591px) and (max-width: 1030px) {
  .home-sea .section__title {
    max-width: 591px;
  }
}

@media screen and (max-width: 370px) {
  .home-sea .section__title {
    font-size: 26px;
    margin: 0 3%;
  }
}

.home-sea .section__subtitle {
  line-height: 1.33;
}

@media screen and (max-width: 370px) {
  .home-sea .section__subtitle {
    font-size: 20px;
    margin: 0 3%;
  }
}

.home-sea .section__underline--home-sea {
  height: 6px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#006ace), to(#0052a0));
  background-image: linear-gradient(to right, #006ace, #0052a0);
}

.home-sea .--text {
  margin-top: 123px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 591px;
}

@media screen and (max-width: 1030px) {
  .home-sea .--text {
    margin: 0;
    max-width: none;
    margin-bottom: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .home-sea .--text {
    max-width: none;
  }
}

.home-sea .--form-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 379px;
  width: 100%;
}

@media screen and (max-width: 1030px) {
  .home-sea .--form-container {
    max-width: none;
  }
}

.home-sea .--above-form {
  height: 88px;
  padding: 0 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, right top, left top, from(#006ace), to(#0052a0));
  background-image: linear-gradient(to left, #006ace, #0052a0);
}

.home-sea .--above-form .section__title {
  margin: 0;
  font-size: 24px;
}

@media screen and (max-width: 370px) {
  .home-sea .--above-form .section__title {
    font-size: 20px;
  }
}

.home-sea .--above-form .section__subtitle {
  font-size: initial;
}

.home-sea .--above-form .section__subtitle span {
  font-size: 22px;
}

@media screen and (max-width: 370px) {
  .home-sea .--above-form .section__subtitle {
    font-size: 16px;
  }
  .home-sea .--above-form .section__subtitle span {
    font-size: 18px;
  }
}

.home-choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 62px 0 43px;
}

.home-choices .section__wrapper {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 -15px 15px -12px rgba(0, 0, 0, 0.11), -15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 15px 15px -12px rgba(0, 0, 0, 0.11);
          box-shadow: 0 -15px 15px -12px rgba(0, 0, 0, 0.11), -15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 15px 15px -12px rgba(0, 0, 0, 0.11);
}

@media screen and (min-width: 1200px) {
  .home-choices .section__wrapper:last-of-type {
    -webkit-box-shadow: 0 -15px 15px -12px rgba(0, 0, 0, 0.11), -15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 15px 15px -12px rgba(0, 0, 0, 0.11), 15px 0 17px -12px rgba(0, 0, 0, 0.11);
            box-shadow: 0 -15px 15px -12px rgba(0, 0, 0, 0.11), -15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 15px 15px -12px rgba(0, 0, 0, 0.11), 15px 0 17px -12px rgba(0, 0, 0, 0.11);
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .home-choices .section__wrapper:nth-last-of-type(2) {
    -webkit-box-shadow: 0 -15px 15px -12px rgba(0, 0, 0, 0.11), -15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 15px 15px -12px rgba(0, 0, 0, 0.11), 15px 0 17px -12px rgba(0, 0, 0, 0.11);
            box-shadow: 0 -15px 15px -12px rgba(0, 0, 0, 0.11), -15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 15px 15px -12px rgba(0, 0, 0, 0.11), 15px 0 17px -12px rgba(0, 0, 0, 0.11);
  }
  .home-choices .section__wrapper:last-of-type {
    -webkit-box-shadow: 15px 0 17px -12px rgba(0, 0, 0, 0.11), -15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 15px 15px -12px rgba(0, 0, 0, 0.11);
            box-shadow: 15px 0 17px -12px rgba(0, 0, 0, 0.11), -15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 15px 15px -12px rgba(0, 0, 0, 0.11);
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .home-choices .section__wrapper:nth-child(2) {
    -webkit-box-shadow: -15px 0 17px -12px rgba(0, 0, 0, 0.11), 15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 -15px 15px -12px rgba(0, 0, 0, 0.11), 0 15px 15px -12px rgba(0, 0, 0, 0.11);
            box-shadow: -15px 0 17px -12px rgba(0, 0, 0, 0.11), 15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 -15px 15px -12px rgba(0, 0, 0, 0.11), 0 15px 15px -12px rgba(0, 0, 0, 0.11);
  }
  .home-choices .section__wrapper:nth-of-type(n+3):nth-child(odd) {
    -webkit-box-shadow: -15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 15px 15px -12px rgba(0, 0, 0, 0.11);
            box-shadow: -15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 15px 15px -12px rgba(0, 0, 0, 0.11);
  }
  .home-choices .section__wrapper:nth-of-type(n+3):nth-child(even) {
    -webkit-box-shadow: -15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 15px 15px -12px rgba(0, 0, 0, 0.11), 15px 0 17px -12px rgba(0, 0, 0, 0.11);
            box-shadow: -15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 15px 15px -12px rgba(0, 0, 0, 0.11), 15px 0 17px -12px rgba(0, 0, 0, 0.11);
  }
}

@media screen and (max-width: 599px) {
  .home-choices .section__wrapper:nth-of-type(1) {
    -webkit-box-shadow: 15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 -15px 15px -12px rgba(0, 0, 0, 0.11), -15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 15px 15px -12px rgba(0, 0, 0, 0.11);
            box-shadow: 15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 -15px 15px -12px rgba(0, 0, 0, 0.11), -15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 15px 15px -12px rgba(0, 0, 0, 0.11);
  }
  .home-choices .section__wrapper:nth-of-type(n+2) {
    -webkit-box-shadow: -15px 0 17px -12px rgba(0, 0, 0, 0.11), 15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 15px 15px -12px rgba(0, 0, 0, 0.11);
            box-shadow: -15px 0 17px -12px rgba(0, 0, 0, 0.11), 15px 0 17px -12px rgba(0, 0, 0, 0.11), 0 15px 15px -12px rgba(0, 0, 0, 0.11);
  }
}

.home-choices .section__image {
  height: 191px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-choices .section__title {
  font-size: 24px;
  color: #006ace;
  font-weight: 700;
  text-align: center;
}

.home-choices .section__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  padding: 21px 0 50px;
}

.home-calc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 89px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-calc-link .section__title {
  font-size: 24px;
  font-weight: 700;
  color: #006ace;
  border-bottom: 1px solid #006ace;
}

@media screen and (max-width: 600px) {
  .home-calc-link .section__title {
    width: 80%;
  }
}

.home-calc-link .section__image {
  padding-right: 16px;
}

@media screen and (max-width: 600px) {
  .home-calc-link .section__image {
    padding: 0 0 10px;
  }
}

.home-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.home-about .section__title {
  color: #ffffff;
  font-weight: 700;
}

.home-about .section__container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0052a0), to(#006ace));
  background-image: linear-gradient(to top, #0052a0, #006ace);
}

.home-about .section__container1 .section__title {
  margin-top: 101px;
}

.home-about .section__container1 .section__underline {
  width: 143px;
  height: 2px;
  background-color: #29abe2;
  margin: 15px 0 26px;
}

.home-about .section__container1 .section__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 88px;
}

@media screen and (max-width: 1199px) {
  .home-about .section__container1 .section__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home-about .section__container1 .section__content .section__subtitle {
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
}

.home-about .section__container1 .text1 span, .home-about .section__container1 .text2 span {
  color: #ffba00;
  font-weight: 700;
}

.home-about .section__container1 .text1 {
  width: 560px;
  line-height: 1.25;
}

@media screen and (max-width: 1199px) {
  .home-about .section__container1 .text1 {
    width: 90%;
  }
}

.home-about .section__container1 .text2 {
  width: 640px;
}

@media screen and (max-width: 1199px) {
  .home-about .section__container1 .text2 {
    width: 100%;
    margin: 30px 0;
  }
}

.home-about .section__container1 .text2 span {
  font-size: 60px;
}

.home-about .section__container1 .text2 div {
  margin-left: 210px;
  font-size: 36px;
}

@media screen and (max-width: 1199px) {
  .home-about .section__container1 .text2 div {
    width: 100%;
    margin: 0;
  }
}

.home-about .section__container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #006ace;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .home-about .section__container2 {
    padding: 0 3%;
  }
}

@media screen and (max-width: 767px) {
  .home-about .section__container2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 30px;
  }
}

.home-about .section__container2 .section__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
}

@media screen and (max-width: 350px) {
  .home-about .section__container2 .section__wrapper {
    width: 100%;
  }
}

.home-about .section__container2 .section__title {
  font-size: 24px;
  margin: 40px 0 20px;
}

.home-about .section__container2 .section__subtitle {
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
  line-height: 1.67;
}

@media screen and (max-width: 767px) {
  .home-about .section__container2 .section__subtitle {
    margin: 0 3%;
  }
}

.home-about .section__container2 .section__underline {
  height: 90px;
  width: 2px;
  background-color: #282828;
  margin: 100px 33px 99px;
}

@media (min-width: 351px) and (max-width: 767px) {
  .home-about .section__container2 .section__underline {
    height: 2px;
    width: 350px;
    margin: 30px 0 30px;
  }
}

@media screen and (max-width: 350px) {
  .home-about .section__container2 .section__underline {
    height: 2px;
    width: 100%;
    margin: 30px 0 30px;
  }
}

.home-tips {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-tips .section__title {
  margin-top: 100px;
  font-weight: 700;
  color: #0a2f73;
}

.home-tips .section__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1199px) {
  .home-tips .section__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.home-tips .section__subtitle {
  font-size: 24px;
  color: #0a2f73;
  font-weight: 700;
  margin: 20px 0 20px 13px;
}

@media screen and (max-width: 389px) {
  .home-tips .section__subtitle {
    text-align: left;
  }
}

.home-tips .section__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 18px;
}

.home-tips .section__wrapper {
  width: 390px;
  border: solid 1px #006acd;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

@media screen and (max-width: 389px) {
  .home-tips .section__wrapper {
    width: 100%;
  }
}

.home-tips .section__underline {
  margin-bottom: 30px;
}

.home-opinions {
  position: relative;
  color: #ffffff;
  margin-bottom: 101px;
  margin-top: 81px;
}

.home-opinions .section__content {
  margin-top: 69px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 54px;
}

@media screen and (max-width: 1175px) {
  .home-opinions .section__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-opinions .-cols:first-child {
  margin-left: 75px;
}

@media screen and (max-width: 1175px) {
  .home-opinions .-cols:first-child {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home-opinions .section__title {
  width: 365px;
  margin-top: 32px;
}

@media screen and (max-width: 380px) {
  .home-opinions .section__title {
    width: 90%;
  }
}

.home-opinions .-cols .section__image {
  height: 114px;
  width: 103px;
}

@media screen and (max-width: 1175px) {
  .home-opinions .-rows {
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .home-opinions .-rows {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home-opinions .-rows .section__image {
  height: 52px;
  width: 52px;
  margin-left: 93px;
}

@media screen and (max-width: 1175px) {
  .home-opinions .-rows .section__image {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .home-opinions .-rows .-cols {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home-opinions .-rows .-cols div:last-child {
  margin-top: 20px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1175px) {
  .home-opinions .-rows .-cols div:last-child {
    margin-bottom: 0;
  }
}

.home-opinions [target] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0 24px 17px;
}

.home-opinions [target] .section__svg {
  padding: 0 7px;
}

.home-opinions .section__subtitle {
  font-size: 18px;
  width: 568px;
  margin-left: 24px;
}

@media screen and (max-width: 1175px) {
  .home-opinions .section__subtitle {
    margin: 0;
  }
}

@media screen and (max-width: 567px) {
  .home-opinions .section__subtitle {
    width: 80%;
  }
}

.home-articles {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-articles a {
  text-decoration: none;
}

.home-articles a:hover {
  background-color: #C0ECEC;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.home-articles .border {
  border: solid 1px #29abe2;
}

.home-articles .section__underline {
  margin-bottom: 43px;
}

.home-articles .section__button {
  position: absolute;
  bottom: -23.5px;
  right: 59px;
  border: solid 1px #29abe2;
  background-color: #ffffff;
  width: 183px;
  padding: 13px 0;
  color: #29abe2;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

@media screen and (max-width: 592px) {
  .home-articles .section__button {
    right: 50%;
    -webkit-transform: translate(50%);
            transform: translate(50%);
  }
}

.home-articles .day, .home-articles .day-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #006ace;
  position: absolute;
}

.home-articles .day {
  font-size: 24px;
  line-height: 1.17;
  padding: 12px 30px 12px;
  top: 23px;
  left: 20px;
}

.home-articles .day span {
  font-size: 30px;
}

.home-articles .day-small {
  font-size: 18px;
  line-height: 1.33;
  padding: 10px 27px 10px;
  top: 25px;
  left: 15px;
}

.home-articles .day-small span {
  font-size: 24px;
}

@media screen and (max-width: 592px) {
  .home-articles .day, .home-articles .day-small {
    position: static;
    padding: 10px 0;
    width: 50%;
    margin: 20px auto 0 auto;
  }
}

.home-articles .section__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1182px) {
  .home-articles .section__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-articles .section__content .border {
    margin-top: 0 !important;
    margin-bottom: 40px;
  }
}

.home-articles .section__content:last-child {
  border: 0;
}

.home-articles .section__content .section__title {
  color: #29abe2;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  margin: 0 60px 0 68px;
}

@media screen and (max-width: 592px) {
  .home-articles .section__content .section__title {
    margin: 0 auto;
    max-width: 462px;
  }
}

.home-articles .section__content .section__subtitle {
  color: #000000;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.33;
  margin: 20px 60px 40px 68px;
}

@media screen and (max-width: 592px) {
  .home-articles .section__content .section__subtitle {
    margin: 15px auto 25px;
    max-width: 80%;
  }
}

.home-articles .section__content .section__image {
  margin: 57px 60px 27px 68px;
}

@media screen and (max-width: 592px) {
  .home-articles .section__content .section__image {
    margin: 25px auto 27px auto;
    width: 100%;
  }
}

@media screen and (max-width: 592px) {
  .home-articles .-rows {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-articles .-rows:last-child {
  margin-top: 42px;
}

.home-articles .-rows .section__title {
  line-height: 1.33;
  margin: 60px 20px 15px 0;
}

@media screen and (max-width: 592px) {
  .home-articles .-rows .section__title {
    margin: 0 auto 15px auto;
  }
}

.home-articles .-rows .section__subtitle {
  margin: 0 25px 0 0;
}

@media screen and (max-width: 592px) {
  .home-articles .-rows .section__subtitle {
    margin: 0 auto 25px auto;
  }
}

.home-articles .-rows .-cols {
  border: 0;
}

.home-articles .-rows .section__image {
  margin: 60px 15px 24px 58px;
}

@media screen and (max-width: 592px) {
  .home-articles .-rows .section__image {
    margin: 25px auto 24px auto;
    width: 60%;
    height: auto;
  }
}

.home-articles .section__image {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.home-articles .section__wrapper {
  position: relative;
  max-width: 590px;
  width: 100%;
}

body, html {
  position: relative;
  padding: 0;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
}
