@import 'components/nav/nav'
@import 'components/section/section'
@import 'components/color/color'
@import 'components/background/background'
@import 'components/footer/footer'
@import 'components/form/form'
@import 'components/home-sea/home-sea'
@import 'components/home-choices/home-choices'
@import 'components/home-calc-link/home-calc-link'
@import 'components/home-about/home-about'
@import 'components/home-tips/home-tips'
@import 'components/home-opinions/home-opinions'
@import 'components/home-articles/home-articles'
@import 'components/breadcrumb/breadcrumb'
@import 'components/calculator/calculator'

body, html
  position: relative
  padding: 0
  margin: 0 auto
  font-family: 'Lato', sans-serif
  background-color: #ffffff