/*@import 'components/background/background' */
body, html {
  position: relative;
  max-width: 1920px;
  padding: 0;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
}
