.home-about
  display: flex
  flex-direction: column
  .section__title
    color: #ffffff
    font-weight: 700
  .section__container1
    display: flex
    // justify-content: center
    flex-direction: column
    align-items: center
    background-image: linear-gradient(to top, #0052a0, #006ace)
    .section__title
      margin-top: 101px
    .section__underline
      width: 143px
      height: 2px
      background-color: #29abe2
      margin: 15px 0 26px
    .section__wrapper
      max-width: 1196px
      font-weight: 300
      font-size: 24px
      color: #ffffff
      span
        color: #ffba00
        font-weight: 700
  .section__container2
    background-color: #006ace