.home-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.home-about .section__title {
  color: #ffffff;
  font-weight: 700;
}

.home-about .section__container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0052a0), to(#006ace));
  background-image: linear-gradient(to top, #0052a0, #006ace);
}

.home-about .section__container1 .section__title {
  margin-top: 101px;
}

.home-about .section__container1 .section__underline {
  width: 143px;
  height: 2px;
  background-color: #29abe2;
  margin: 15px 0 26px;
}

.home-about .section__container1 .section__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 88px;
}

@media screen and (max-width: 1199px) {
  .home-about .section__container1 .section__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home-about .section__container1 .section__content .section__subtitle {
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
}

.home-about .section__container1 .text1 span, .home-about .section__container1 .text2 span {
  color: #ffba00;
  font-weight: 700;
}

.home-about .section__container1 .text1 {
  width: 560px;
  line-height: 1.25;
}

@media screen and (max-width: 1199px) {
  .home-about .section__container1 .text1 {
    width: 90%;
  }
}

.home-about .section__container1 .text2 {
  width: 640px;
}

@media screen and (max-width: 1199px) {
  .home-about .section__container1 .text2 {
    width: 100%;
    margin: 30px 0;
  }
}

.home-about .section__container1 .text2 span {
  font-size: 60px;
}

.home-about .section__container1 .text2 div {
  margin-left: 210px;
  font-size: 36px;
}

@media screen and (max-width: 1199px) {
  .home-about .section__container1 .text2 div {
    width: 100%;
    margin: 0;
  }
}

.home-about .section__container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #006ace;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .home-about .section__container2 {
    padding: 0 3%;
  }
}

@media screen and (max-width: 767px) {
  .home-about .section__container2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 30px;
  }
}

.home-about .section__container2 .section__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
}

@media screen and (max-width: 350px) {
  .home-about .section__container2 .section__wrapper {
    width: 100%;
  }
}

.home-about .section__container2 .section__title {
  font-size: 24px;
  margin: 40px 0 20px;
}

.home-about .section__container2 .section__subtitle {
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
  line-height: 1.67;
}

@media screen and (max-width: 767px) {
  .home-about .section__container2 .section__subtitle {
    margin: 0 3%;
  }
}

.home-about .section__container2 .section__underline {
  height: 90px;
  width: 2px;
  background-color: #282828;
  margin: 100px 33px 99px;
}

@media (min-width: 351px) and (max-width: 767px) {
  .home-about .section__container2 .section__underline {
    height: 2px;
    width: 350px;
    margin: 30px 0 30px;
  }
}

@media screen and (max-width: 350px) {
  .home-about .section__container2 .section__underline {
    height: 2px;
    width: 100%;
    margin: 30px 0 30px;
  }
}
