<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" type='text/css' href="../styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.css">
  <title>Your pension helper</title>
</head>

<body>
  <div class="section">
    <div class="section__container nav">
      <div class="nav__hamburger">
        <div class="nav__hamburger-icon">
          <input type="checkbox">
          <span class="span1"></span>
          <span class="span2"></span>
          <span class="span3"></span>
        </div>
        <ul class="nav__hamburger-menu">
          <a href="./index.html" class="nav__category">
            <li>Home</li>
          </a>
          <a href="#home-about" class="nav__category">
            <li>About Us</li>
          </a>
          <a href="#home-choices" class="nav__category">
            <li>Our Services</li>
          </a>
          <a href="#home-articles" class="nav__category">
            <li>Articles</li>
          </a>
          <a href="#footer-upper" class="nav__category">
            <li>Contact Us</li>
          </a>
        </ul>
      </div>
      <img src="../src/nav-icon1.png" alt="" class="nav__image nav__image1">
      <img src="../src/nav-icon2.png" alt="" class="nav__image nav__image2">
      <a href="tel:08000029464" class="nav__phone">
        <img src="../src/nav-icon3.png" alt="" class="nav__image nav__image3">
      </a>
    </div>
    <div class="section__container nav nav-not-fixed">
      <div class="nav__hamburger">
        <div class="nav__hamburger-icon">
          <input type="checkbox">
          <span class="span1"></span>
          <span class="span2"></span>
          <span class="span3"></span>
        </div>
        <ul class="nav__hamburger-menu">
          <a href="./index.html" class="nav__category">
            <li>Home</li>
          </a>
          <a href="#" class="nav__category">
            <li>About Us</li>
          </a>
          <a href="#" class="nav__category">
            <li>Our Services</li>
          </a>
          <a href="#" class="nav__category">
            <li>Articles</li>
          </a>
          <a href="#" class="nav__category">
            <li>Contact Us</li>
          </a>
        </ul>
      </div>
      <img src="../src/nav-icon1.png" alt="" class="nav__image nav__image1">
      <img src="../src/nav-icon2.png" alt="" class="nav__image nav__image2">
      <a href="tel:08000029464" class="nav__phone">
        <img src="../src/nav-icon3.png" alt="" class="nav__image nav__image3">
      </a>
    </div>
    <div class="section__container breadcrumb">
      <div class="section__content">
        <div class="section__subtitle --color-white">
          <a href="./index.html">Home</a>
          <i class="fas fa-angle-double-right"></i>
          <a href="#">News</a>
          <i class="fas fa-angle-double-right"></i>
          <a href="#">Double bill at the Pensionlite office</a>
        </div>
      </div>
    </div>
    <div class="section__container article">
      <div class="section__content">
        <div class="section__wrapper wrapper1">
          <div class="section__title titl1">DOUBLE BILL AT THE PENSIONLITE OFFICE</div>
          <div class="section__subtitle subt1">Life is full of choices. We are here to support you with the choices you
            need
            to make to get <span>the best out of your life savings.</span></div>
          <img src="../src/article-image.png" alt="" class="section__image img1">
          <div class="section__subtitle subt2">
            Yesterday we had a reunion here at the Pensionlite office as Abraham Darby Academy pupil and budding artist
            Ellie Perks came in to see us.<br><br>

            For those not familiar with the story – a few weeks ago we purchased a giant nine foot duck at a local
            charity auction.<br><br>

            The colourful creations were the main attractions for Telford’s Let’s Go Quackers art trail this summer and
            were the brain child of local resident Julie Ward who was inspired by a Norwich gorilla trail she heard
            about in 2013.<br><br>

            Not only did we bid on and win a duck called C-Ellie-Brate, but we also got to meet the designer, 13-year
            old Ellie Perks.<br><br>

            She was bursting with enthusiasm and passion which we loved and so decided to bid on the smaller version of
            her design which was donated to the event by artist Traci Moss – who brought Ellie’s design to life.<br><br>

            We successfully won that auction as well, and as a gift from us at Pensionlite we gave the miniature
            C-Ellie-Brate to Ellie so she would have something to remember her artistic experience.
          </div>
          <div class="section__title titl2">
            <img src="../src/article-semicolons.png" alt="" class="section__image">
            <div class="section__divider"></div>
            The giant duck has been in the corner of our office reception for almost a month – and it doesn’t look out
            of place.
          </div>
          <div class="section__subtitle subt3">We’ve had so many comments when people call us or come into visit, and we
            are
            very proud that we were able to contribute to such an amazing event which also helped two fantastic
            charities; Severn Hospice and the Jayne Sargent Foundation.</div>
          <img src="../src/article-image2.png" alt="" class="section__image img2">
          <div class="section__subtitle subt4">Managing director Mike Shaw and designer Ellie Perks</div>
        </div>
        <div class="section__wrapper wrapper2">
          <div class="article-background"></div>
          <div class="section__title">GET IN TOUCH NOW</div>
          <input class="input1" type="text" placeholder="YOUR NAME" name="name">
          <input class="input2" type="text" placeholder="YOUR CONTACT NUMBER" name="number">
          <input class="input3" type="text" placeholder="POST CODE" name="postcode">
          <div class="section__subtitle">BEST FOR US TO CALL YOU:</div>
          <div class="section__wrapper">
            <input type="radio" id="morning" name="when" value="morning" checked>
            <label for="morning">MORNING</label><br>
          </div>
          <div class="section__wrapper wrapper3">
            <input type="radio" id="afternoon" name="when" value="afternoon">
            <label for="afternoon">AFTERNOON</label><br>
          </div>
          <div class="section__wrapper wrapper4">
            <input type="radio" id="evening" name="when" value="evening">
            <label for="evening">EVENING</label><br>
          </div>
          <textarea placeholder="MESSAGE" name="message" id="message" cols="30" rows="10"></textarea>
          <div class="section__wrapper wrapper4">
            <input type="checkbox" id="agreement" name="agreement" value="agreement" checked>
            <label class="label-agreement" for="agreement">Any information submitted will be processed {...}</label><br>
          </div>
          <div class="section__button">START NOW</div>
        </div>
      </div>
    </div>
    <div class="footer footer--mtop0">
      <div id="footer-upper" class="section__container footer__upper">
        <div class="section__content">
          <div class="section__wrapper">
            <img src="../src/footer__image.png" alt="" class="section__image">
            <div class="section__wrapper">
              <div class="section__title">Address:</div>
              <div class="section__subtitle">40 Bloomsbury Way <br>Lower Ground Floor <br>London, WC1A 2SE</div>
              <span>Follow Us: <a href="#"><img src="../src/footer__icon-fb.png" alt=""
                    class="section__icon"></a></span>
            </div>
            <div class="section__wrapper">
              <div class="section__title">Contact:</div>
              <div class="section__subtitle">
                <span class="-weight700">Phone:</span>
                08000029464<br><br>
                <span class="-weight700">E-mail:</span>
                office@yourpensionhelper.co.uk
              </div>
            </div>
            <div class="section__wrapper">
              <div class="section__title">Menu:</div>
              <div class="section__subtitle">
                <a href="#"><img src="../src/footer-arrow.png" alt="">About Us</a>
                <a href="#"><img src="../src/footer-arrow.png" alt="">Our Services</a>
                <a href="#"><img src="../src/footer-arrow.png" alt="">Articles</a>
                <a href="#"><img src="../src/footer-arrow.png" alt="">Contact Us</a>
              </div>
            </div>
          </div>
          <div class="section__underline"></div>
          <div class="section__subtitle">
            Your Pension Helper is not regulated by the Financial Conduct Authority. Therefore, we are not authorised to
            provide financial advice in relation to your pension, but we can refer you to a suitably qualified and
            regulated financial adviser who can do this on our behalf. We will provide you with information only to
            enable you to assess your current pension situation.<br><br>If you would like to find out how much your
            pension would be worth in retirement and what options you have to improve your retirement income, contact us
            for a free, no-obligation appointment.
          </div>
        </div>
      </div>
      <div class="section__container footer__lower">©2018 Your Pension Helper</div>
    </div>
  </div>
  <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../main.js"></script>
</body>

</html>