<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" type='text/css' href="../styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.css">
  <title>Your pension helper</title>
</head>

<body>
  <div class="section">
    <div class="section__container nav">
      <div class="nav__hamburger">
        <div class="nav__hamburger-icon">
          <input type="checkbox">
          <span class="span1"></span>
          <span class="span2"></span>
          <span class="span3"></span>
        </div>
        <ul class="nav__hamburger-menu">
          <a href="./index.html" class="nav__category">
            <li>Home</li>
          </a>
          <a href="#" class="nav__category">
            <li>About Us</li>
          </a>
          <a href="#" class="nav__category">
            <li>Our Services</li>
          </a>
          <a href="#" class="nav__category">
            <li>Articles</li>
          </a>
          <a href="#" class="nav__category">
            <li>Contact Us</li>
          </a>
        </ul>
      </div>
      <img src="../src/nav-icon1.png" alt="" class="nav__image nav__image1">
      <img src="../src/nav-icon2.png" alt="" class="nav__image nav__image2">
      <a href="tel:08000029464" class="nav__phone">
        <img src="../src/nav-icon3.png" alt="" class="nav__image nav__image3">
      </a>
    </div>
    <div class="section__container nav nav-not-fixed">
      <div class="nav__hamburger">
        <div class="nav__hamburger-icon">
          <input type="checkbox">
          <span class="span1"></span>
          <span class="span2"></span>
          <span class="span3"></span>
        </div>
        <ul class="nav__hamburger-menu">
          <a href="./index.html" class="nav__category">
            <li>Home</li>
          </a>
          <a href="#" class="nav__category">
            <li>About Us</li>
          </a>
          <a href="#" class="nav__category">
            <li>Our Services</li>
          </a>
          <a href="#" class="nav__category">
            <li>Articles</li>
          </a>
          <a href="#" class="nav__category">
            <li>Contact Us</li>
          </a>
        </ul>
      </div>
      <img src="../src/nav-icon1.png" alt="" class="nav__image nav__image1">
      <img src="../src/nav-icon2.png" alt="" class="nav__image nav__image2">
      <a href="tel:08000029464" class="nav__phone">
        <img src="../src/nav-icon3.png" alt="" class="nav__image nav__image3">
      </a>
    </div>
    <div class="section__container breadcrumb">
      <div class="section__content">
        <div class="section__subtitle --color-white">
          <a href="./index.html">Home</a>
          <i class="fas fa-angle-double-right"></i>
          <a href="#">Calculator</a>
        </div>
      </div>
    </div>
    <div class="section__container calculator">
      <div class="section__content">
        <div class="section__title --color-darkblue">COMPARE YOUR PENSION INCOME OPTIONS TODAY</div>
        <div class="section__subtitle">
          <span>Use our Free quote</span>
          service to compare the best pension income options from top UK annuity providers. Our specialists search the
          whole market to fint out highest retirment income you could reveive.
          <span>Start by completing our form below.</span>
        </div>
        <div class="section__wrapper">
          <span>I am</span>
          <div class="section__wrapper">
            <span>START HERE!</span>
            <span class="triangle"></span>
            <input class="input1" type="text" placeholder="i.e 55">
          </div>
          <span>Years Of Age And My Pension Pot Is Approximately</span>
          <input class="input2" type="text" placeholder="£">
        </div>
        <a href="#" class="section__button">CALCULATE THE BEST ANNUITY RATES <i
            class="fas fa-angle-double-right"></i></a>
      </div>
    </div>
    <div class="section__container home-about">
      <div class="background--home-crest"></div>
      <div class="section__container1">
        <div class="section__title">WHO WE ARE</div>
        <div class="section__underline"></div>
        <div class="section__content">
          <div class="section__subtitle text1">We are an independent service helping to introduce you to <span>Financial
              Conduct Authority</span> (FCA) regulated Independent Financial Advisers, who can help you to better
            understand your pension and advise you on how best to manage it. <span>We have more than 20 years'
              experience.</span> As a group, we oversee the transfer of in excess of <span>£2 million</span> of pension
            funds every month. We help you search out the right adviser to enable you to take control of your pension
            and your future.</div>
          <div class="section__subtitle text2">
            <div><span>20</span> years <br>experience</div>
            <div><span>£2</span> million <br>of pensions funds <br>every month</div>
          </div>
        </div>
      </div>
      <div class="section__container2">
        <div class="section__wrapper">
          <div class="section__title">FREE CONSULTATION</div>
          <div class="section__subtitle">If you would like to find out more about these services and how we can help you
            simply speak to one of our advisers today</div>
        </div>
        <div class="section__underline"></div>
        <div class="section__wrapper">
          <div class="section__title">AUTHORISE</div>
          <div class="section__subtitle">All our IFA’s are regulated by the FCA and qualified to advise you.</div>
        </div>
        <div class="section__underline"></div>
        <div class="section__wrapper">
          <div class="section__title">EXPERT ADVICE</div>
          <div class="section__subtitle">Each IFA firm is an expert in a wide variety of pension planning including
            personal pension transfers, retirement planning and final salary pension transfers.</div>
        </div>
      </div>
    </div>
    <div class="section__container home-opinions">
      <div class="section__content">
        <div class="section__wrapper -cols">
          <img src="../src/calculator-smile.png" alt="" class="section__image">
          <div class="section__title">
            <span class="-weight700 --color-darkblue">HELPING</span>
            <span class="-weight300 --color-blue">YOU PLAN FOR</span>
            <span class="-weight700 --color-blue">YOUR</span>
            <span class="-weight300 --color-darkblue">FUTURE!</span>
          </div>
        </div>
        <div class="section__wrapper -cols">
          <div class="section__wrapper -rows">
            <img src="../src/Mark-Powis.png" alt="" class="section__image">
            <div class="section__wrapper -cols">
              <div class="section__wrapper" target="_blank">
                <img src="../src/star.svg" alt="" class="section__svg">
                <img src="../src/star.svg" alt="" class="section__svg">
                <img src="../src/star.svg" alt="" class="section__svg">
                <img src="../src/star.svg" alt="" class="section__svg">
                <img src="../src/star.svg" alt="" class="section__svg">
              </div>
              <div class="section__subtitle -weight300 --color-black">A great service. Simple and Transparent. A
                fantastic way to find
                the right FCA regulated adviser for my requirements. They help from start to finish if you’re not sure
                what to do.</div>
              <div class="section__subtitle -weight700 --color-blue">Brendan Watters</div>
            </div>
          </div>
          <div class="section__wrapper -rows">
            <img src="../src/Angela-Keepax.png" alt="" class="section__image">
            <div class="section__wrapper -cols">
              <div class="section__wrapper" target="_blank">
                <img src="../src/star.svg" alt="" class="section__svg">
                <img src="../src/star.svg" alt="" class="section__svg">
                <img src="../src/star.svg" alt="" class="section__svg">
                <img src="../src/star.svg" alt="" class="section__svg">
                <img src="../src/star.svg" alt="" class="section__svg">
              </div>
              <div class="section__subtitle -weight300 --color-black">Brilliant, they did exactly as promised.
                Introduced me to a
                helpful IFA, assisted me through each part of the process and made sure I understood what I was doing.
                Thank You</div>
              <div class="section__subtitle -weight700 --color-blue">Angela Keepax</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer footer--calculator">
      <div class="section__container footer__upper">
        <div class="section__content">
          <div class="section__wrapper">
            <img src="../src/footer__image.png" alt="" class="section__image">
            <div class="section__wrapper">
              <div class="section__title">Address:</div>
              <div class="section__subtitle">40 Bloomsbury Way <br>Lower Ground Floor <br>London, WC1A 2SE</div>
              <span>Follow Us: <a href="#"><img src="../src/footer__icon-fb.png" alt=""
                    class="section__icon"></a></span>
            </div>
            <div class="section__wrapper">
              <div class="section__title">Contact:</div>
              <div class="section__subtitle">
                <span class="-weight700">Phone:</span>
                08000029464<br><br>
                <span class="-weight700">E-mail:</span>
                office@yourpensionhelper.co.uk
              </div>
            </div>
            <div class="section__wrapper">
              <div class="section__title">Menu:</div>
              <div class="section__subtitle">
                <a href="#"><img src="../src/footer-arrow.png" alt="">About Us</a>
                <a href="#"><img src="../src/footer-arrow.png" alt="">Our Services</a>
                <a href="#"><img src="../src/footer-arrow.png" alt="">Articles</a>
                <a href="#"><img src="../src/footer-arrow.png" alt="">Contact Us</a>
              </div>
            </div>
          </div>
          <div class="section__underline"></div>
          <div class="section__subtitle">
            Your Pension Helper is not regulated by the Financial Conduct Authority. Therefore, we are not authorised to
            provide financial advice in relation to your pension, but we can refer you to a suitably qualified and
            regulated financial adviser who can do this on our behalf. We will provide you with information only to
            enable you to assess your current pension situation.<br><br>If you would like to find out how much your
            pension would be worth in retirement and what options you have to improve your retirement income, contact us
            for a free, no-obligation appointment.
          </div>
        </div>
      </div>
      <div class="section__container footer__lower">©2018 Your Pension Helper</div>
    </div>
  </div>
  <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../main.js"></script>
</body>

</html>