<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" type='text/css' href="../styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,700&display=swap" rel="stylesheet">
  <title>Your pension helper</title>
</head>

<body>
  <div class="nav">
    <img src="../src/nav-icon1.png" alt="" class="nav__image nav__image1">
    <img src="../src/nav-icon2.png" alt="" class="nav__image nav__image2">
    <div class="nav__categories">
      <a href="#" class="nav__category nav__category1">Home</a>
      <a href="#" class="nav__category nav__category2">About Us</a>
      <a href="#" class="nav__category nav__category3">Our Services</a>
      <a href="#" class="nav__category nav__category4">Articles</a>
      <a href="#" class="nav__category nav__category5">Contact Us</a>
    </div>
    <a href="tel:08000029464" class="nav__phone">
      <img src="../src/nav-icon3.png" alt="" class="nav__image nav__image3">
      <div class="nav__phone-text">
        <div class="nav__phone-text1">Free Advice</div>
        <div class="nav__phone-text2">08000029464</div>
        <div class="nav__phone-text3">Mon-Fri: 9:30am to 5:30pm</div>
      </div>
    </a>
  </div>
  <div class="section section--home-sea">
    <div class="section--home-sea__wrapper">
      <div class="section--home-sea__container">
        <div class="section--home-sea__title">
          <span class="section__weight300">MAKING</span>
          <span class="section__weight700">GOOD</span>
          <span class="section__weight300">CHOICES</span>
          <span class="section__weight700">WITH YOUR LIFE SAVINGS</span>
        </div>
        <div class="section--home-sea__text">
          <span class="section__weight300">Whatever your plans for the future we are here</span>
          <span class="section__weight700">to help you take the next step.</span>
        </div>
      </div>
      <div class="section--home-sea__form">
        <div class="section--home-sea__form__upper">
          <div class="section--home-sea__form__upper__text1"><span class="section__weight700">GET FREE</span> <span
              class="section__weight300">PENSION ADVICE</span></div>
          <div class="section--home-sea__form__upper__text2">WE'LL CALL YOU BACK <span
              class="section__weight700 color--gold section--home-sea__form__upper__text2__span1">&nbspSHORTLY</span>
          </div>
        </div>
        <div class="section--home-sea__form__divider">
        </div>
        <div class="section--home-sea__form__lower">
          <form action="#">
            <label class="section--home-sea__form__lower__label" for="name--home-sea">YOUR NAME:</label><br>
            <input class="section--home-sea__form__lower__text-imput" method="POST" type="text" id="name--home-sea"
              name="name--home-sea" pattern="[^0-9]{1,150}"
              title="Something went wrong. Please make sure that the name field is not empty, does not contain any numbers and is shorter than 150 characters."
              required><br>
            <!-- 
              to make inputing foreign characters possible, all characters except numbers are accepted;
              up to 150 of them;
            -->
            <label class="section--home-sea__form__lower__label" for="number--home-sea">YOUR CONTACT NUMBER:</label><br>
            <input class="section--home-sea__form__lower__text-imput" method="POST" type="tel" id="number--home-sea"
              name="number--home-sea"
              pattern="^(((\+44\s?\d{4}|\(?0\d{4}\)?)\s?\d{3}\s?\d{3})|((\+44\s?\d{3}|\(?0\d{3}\)?)\s?\d{3}\s?\d{4})|((\+44\s?\d{2}|\(?0\d{2}\)?)\s?\d{4}\s?\d{4}))(\s?\#(\d{4}|\d{3}))?$"
              title="Something went wrong. Please make sure that the contact number field is not empty and follows the correct format of the UK phone numbers, for example: (0722) 5555555 or +447225555555."
              required><br>
            <!-- 
              phone regex for uk
              source: http://regexlib.com/UserPatterns.aspx?authorid=d95177b0-6014-4e73-a959-73f1663ae814&AspxAutoDetectCookieSupport=1
              desc:
                Matches     +447222555555   | +44 7222 555 555 | (0722) 5555555 #2222
                Non-Matches (+447222)555555 | +44(7222)555555  | (0722) 5555555 #22 
              -->
            <label class="section--home-sea__form__lower__label" for="post-code--home-sea">POST CODE:</label><br>
            <input class="section--home-sea__form__lower__text-imput" method="POST" type="text" id="post-code--home-sea"
              name="post-code--home-sea"
              pattern="([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-9]{1,2})|(([A-Za-z][0-9][A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y][0-9][A-Za-z]?))))\s?[0-9][A-Za-z]{2})"
              title="Something went wrong. Please make sure that the postcode field is not empty and follows the correct format for UK postcode, for example: m11ed."
              required><br>
            <!-- 
              post code regex for uk 
              supposedly supplied by the UK Government
              source: https://stackoverflow.com/questions/164979/regex-for-matching-uk-postcodes
            -->
            <div class="section--home-sea__form__lower__note">
              <img class="section--home-sea__form__lower__icon" src="../src/home-form-icon.png" alt="">
              GDPR COMPLIANT. PLEASE VIEW OUR&nbsp<a class="section--home-sea__form__lower__privacy-link"
                href="#">PRIVACY POLICY</a>
            </div>
            <input class="section--home-sea__form__submit-btn" type="submit" value="SEND NOW">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="section section--home-ready">
    <div class="section__title color--dark-blue">WE'RE READY TO HELP</div>
    <div class="section__underline"></div>
    <div class="section--home-ready__text section__weight300">
      Life is full of choices. We are here to support you with the choices <br>you need to make to get <span
        class="section__weight700 color--blue">the best out of your
        life savings.</span>
    </div>
    <div class="section--home-ready__wrapper">
      <div class="section--home-ready__container">
        <div class="section--home-ready__image-container">
          <img src="../src/home-ready-icon1.png" alt="" class="section__image">
        </div>
      </div>
      <div class="section--home-ready__container">
        <div class="section--home-ready__image-container">
        <img src="../src/home-ready-icon2.png" alt="" class="section__image">
      </div>
      </div>
      <div class="section--home-ready__container">
        <div class="section--home-ready__image-container">
        <img src="../src/home-ready-icon3.png" alt="" class="section__image">
      </div>
      </div>
      <div class="section--home-ready__container">
        <div class="section--home-ready__image-container">
        <img src="../src/home-ready-icon4.png" alt="" class="section__image">
      </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../main.js"></script>
</body>

</html>