<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" type='text/css' href="../styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,700&display=swap" rel="stylesheet">
  <title>Your pension helper</title>
</head>

<body>
  <div class="section">
    <div class="section__container">
      <nav class="nav" role="navigation">
        <div class="nav__hamburger">
          <div class="nav__hamburger-icon">
            <input type="checkbox">
            <span class="span1"></span>
            <span class="span2"></span>
            <span class="span3"></span>
          </div>
          <ul class="nav__hamburger-menu">
            <a href="#" class="nav__category">
              <li>Home</li>
            </a>
            <a href="#" class="nav__category">
              <li>About Us</li>
            </a>
            <a href="#" class="nav__category">
              <li>Our Services</li>
            </a>
            <a href="#" class="nav__category">
              <li>Articles</li>
            </a>
            <a href="#" class="nav__category">
              <li>Contact Us</li>
            </a>
          </ul>
        </div>
        <img src="../src/nav-icon1.png" alt="" class="nav__image nav__image1">
        <img src="../src/nav-icon2.png" alt="" class="nav__image nav__image2">
        <a href="tel:08000029464" class="nav__phone">
          <img src="../src/nav-icon3.png" alt="" class="nav__image nav__image3">
        </a>
      </nav>
    </div>
    <div class="section__container background--home-sea home-sea">
      <div class="section__content">
        <div class="section__wrapper --text">
          <div class="section__title -font44 --color-white">
            <span class="-weight300">MAKING</span>
            <span class="-weight700">GOOD</span>
            <span class="-weight300">CHOICES</span>
            <span class="-weight700">WITH YOUR LIFE SAVINGS</span>
          </div>
          <div class="section__subtitle -font30 --color-white">
            <span class="-weight300">Whatever your plans for the future<br> we are here</span>
            <span class="-weight700">to help you take the next step.</span>
          </div>
        </div>
        <div class="section__wrapper --form-container">
          <div class="section__wrapper --above-form">
            <div class="section__title">
              <span class="-weight700">GET FREE</span>
              <span class="-weight300">PENSION ADVICE</span>
            </div>
            <div class="section__subtitle">
              WE'LL CALL YOU BACK <span class="-weight700 --color-gold">&nbspSHORTLY</span>
            </div>
          </div>
          <div class="section__underline--home-sea">
          </div>
          <form class="form --home" action="#">
            <label class="form__label-name" for="name--home">YOUR NAME:</label>
            <input class="form__name" method="POST" type="text" id="name--home" name="name--home"
              pattern="[^0-9]{1,150}"
              title="Something went wrong. Please make sure that the name field is not empty, does not contain any numbers and is shorter than 150 characters."
              required>
            <label class="form__label-tel" for="number--home">YOUR CONTACT NUMBER:</label>
            <input class="form__tel" method="POST" type="tel" id="number--home" name="number--home"
              pattern="^(((\+44\s?\d{4}|\(?0\d{4}\)?)\s?\d{3}\s?\d{3})|((\+44\s?\d{3}|\(?0\d{3}\)?)\s?\d{3}\s?\d{4})|((\+44\s?\d{2}|\(?0\d{2}\)?)\s?\d{4}\s?\d{4}))(\s?\#(\d{4}|\d{3}))?$"
              title="Something went wrong. Please make sure that the contact number field is not empty and follows the correct format of the UK phone numbers, for example: (0722) 5555555 or +447225555555."
              required>
            <label class="form__label-post-code" for="post-code--home">POST CODE:</label>
            <input class="form__post-code" method="POST" type="text" id="post-code--home" name="post-code--home"
              pattern="([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-9]{1,2})|(([A-Za-z][0-9][A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y][0-9][A-Za-z]?))))\s?[0-9][A-Za-z]{2})"
              title="Something went wrong. Please make sure that the postcode field is not empty and follows the correct format for UK postcode, for example: m11ed."
              required>
            <div class="section__wrapper --note">
              <img class="form__image" src="../src/home-form-icon.png" alt="">
              GDPR COMPLIANT. PLEASE VIEW OUR&nbsp<a class="form__link" href="#">PRIVACY POLICY</a>
            </div>
            <input class="form__submit" type="submit" value="SEND NOW">
          </form>
        </div>
      </div>
    </div>
    <div class="section__container">
      <div class="section__title -weight700 --color-darkblue">
        WE'RE READY TO HELP
      </div>
    </div>
    <div class="section__container">
      <div class="section__underline"></div>
    </div>
    <div class="section__container">
      <div class="section__subtitle -font30 --text-centered">
        <span class="--hide-br850">Life is full of choices. We are here to support you with the choices <br>you need to
          make to get</span>
        <span class="-weight700 --color-blue">the best out of your life savings.</span>
      </div>
    </div>
    <div class="section__container home-choices">
      <div class="section__wrapper">
        <div class="section__image">
          <img src="../src/home-ready-icon1.png" alt="">
        </div>
        <div class="section__title">Final Salary <br>Pension Transfers</div>
        <div class="section__subtitle">Simple, convenient, effective <br>pension advice</div>
      </div>
      <div class="section__wrapper">
        <div class="section__image">
          <img src="../src/home-ready-icon2.png" alt="">
        </div>
        <div class="section__title">Pension <br>Reviews & Transfer</div>
        <div class="section__subtitle">Plan carefully, review regularly, <br>adjust accordingly</div>
      </div>
      <div class="section__wrapper">
        <div class="section__image">
          <img src="../src/home-ready-icon3.png" alt="">
        </div>
        <div class="section__title">Pension <br>Drawdown</div>
        <div class="section__subtitle">You could release up to 25% of <br>your pension tax free</div>
      </div>
      <div class="section__wrapper">
        <div class="section__image">
          <img src="../src/home-ready-icon4.png" alt="">
        </div>
        <div class="section__title">Retirement <br>Options & Annuities</div>
        <div class="section__subtitle">Taking into account your health <br>and lifestyle</div>
      </div>
    </div>
    <div class="section__container home-calc-link">
      <img src="../src/home-ready-icon5.png" alt="" class="section__image">
      <div class="section__title">COMPARE YOUR PENSION INCOME OPTIONS</div>
    </div>
    <div class="section__container home-about">
      <div class="background--home-crest"></div>
      <div class="section__container1">
        <div class="section__title">WHO WE ARE</div>
        <div class="section__underline"></div>
        <div class="section__content">
          <div class="section__subtitle text1">We are an independent service helping to introduce you to <span>Financial
              Conduct Authority</span> (FCA) regulated Independent Financial Advisers, who can help you to better
            understand your pension and advise you on how best to manage it. <span>We have more than 20 years'
              experience.</span> As a group, we oversee the transfer of in excess of <span>£2 million</span> of pension
            funds every month. We help you search out the right adviser to enable you to take control of your pension
            and your future.</div>
          <div class="section__subtitle text2">
            <div><span>20</span> years <br>experience</div>
            <div><span>£2</span> million <br>of pensions funds <br>every month</div>
          </div>
        </div>
      </div>
      <div class="section__container2">
        <div class="section__wrapper">
          <div class="section__title">FREE CONSULTATION</div>
          <div class="section__subtitle">If you would like to find out more about these services and how we can help you
            simply speak to one of our advisers today</div>
        </div>
        <div class="section__underline"></div>
        <div class="section__wrapper">
          <div class="section__title">AUTHORISE</div>
          <div class="section__subtitle">All our IFA’s are regulated by the FCA and qualified to advise you.</div>
        </div>
        <div class="section__underline"></div>
        <div class="section__wrapper">
          <div class="section__title">EXPERT ADVICE</div>
          <div class="section__subtitle">Each IFA firm is an expert in a wide variety of pension planning including
            personal pension transfers, retirement planning and final salary pension transfers.</div>
        </div>
      </div>
    </div>
    <div class="section__container home-tips">
      <div class="section__title">PENSION HELP & TIPS</div>
      <div class="section__underline"></div>
      <div class="section__content">
        <div class="section__wrapper">
          <div class="section__subtitle">How a Pension Scheme Works</div>
          <img src="../src/home-tips.png" alt="" class="section__image">
        </div>
        <div class="section__wrapper">
          <div class="section__subtitle">Leaving Your Pension Scheme</div>
          <img src="../src/home-tips.png" alt="" class="section__image">
        </div>
        <div class="section__wrapper">
          <div class="section__subtitle">Choosing Investment Funds</div>
          <img src="../src/home-tips.png" alt="" class="section__image">
        </div>
        <div class="section__wrapper">
          <div class="section__subtitle">Pensions and Tax</div>
          <img src="../src/home-tips.png" alt="" class="section__image">
        </div>
        <div class="section__wrapper">
          <div class="section__subtitle">When Can I Take My Pension</div>
          <img src="../src/home-tips.png" alt="" class="section__image">
        </div>
        <div class="section__wrapper">
          <div class="section__subtitle">Top Tips For Your Pension</div>
          <img src="../src/home-tips.png" alt="" class="section__image">
        </div>
      </div>
    </div>
    <div class="section__container home-opinions">
      <div class="background--home-opinions"></div>
      <div class="section__content">
        <div class="section__wrapper -cols">
          <img src="../src/smile_face.png" alt="" class="section__image">
          <div class="section__title">
            <span class="-weight700 --color-gold">HELPING</span>
            <span class="-weight300 --color-white">YOU PLAN FOR</span>
            <span class="-weight700 --color-white">YOUR</span>
            <span class="-weight300 --color-gold">FUTURE!</span>
          </div>
        </div>
        <div class="section__wrapper -cols">
          <div class="section__wrapper -rows">
            <img src="../src/Mark-Powis.png" alt="" class="section__image">
            <div class="section__wrapper -cols">
              <div class="section__wrapper" target="_blank">
                <img src="../src/star.svg" alt="" class="section__svg">
                <img src="../src/star.svg" alt="" class="section__svg">
                <img src="../src/star.svg" alt="" class="section__svg">
                <img src="../src/star.svg" alt="" class="section__svg">
                <img src="../src/star.svg" alt="" class="section__svg">
              </div>
              <div class="section__subtitle -weight300">A great service. Simple and Transparent. A fantastic way to find the right FCA regulated adviser for my requirements. They help from start to finish if you’re not sure what to do.</div>
              <div class="section__subtitle -weight700">Brendan Watters</div>
            </div>
          </div>
          <div class="section__wrapper -rows">
            <img src="../src/Angela-Keepax.png" alt="" class="section__image">
            <div class="section__wrapper -cols">
              <div class="section__wrapper" target="_blank">
                <img src="../src/star.svg" alt="" class="section__svg">
                <img src="../src/star.svg" alt="" class="section__svg">
                <img src="../src/star.svg" alt="" class="section__svg">
                <img src="../src/star.svg" alt="" class="section__svg">
                <img src="../src/star.svg" alt="" class="section__svg">
              </div>
              <div class="section__subtitle -weight300">Brilliant, they did exactly as promised. Introduced me to a helpful IFA, assisted me through each part of the process and made sure I understood what I was doing. Thank You</div>
              <div class="section__subtitle -weight700">Angela Keepax</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section__container -cols home-articles">
      <div class="section__title -weight700">LATEST ARTICLES</div>
      <div class="section__underline"></div>
      <div class="section__content">
        <div class="section__wrapper -cols border">
          <div class="day"><span>12</span> SEP</div>
          <img src="../src/home-articles1.png" alt="" class="section__image">
          <div class="section__title">First Mortgage offers impartial advice and support to first-time buyers to help them realise their home ownership dream</div>
          <div class="section__subtitle">Published on 6th September 2018 The UK’s leading independent mortgage brokers, First Mortgage are encouraging first-time buyers to try their free advice service and reali...</div>
          <a href="#" class="section__button">READ MORE</a>
        </div>
        <div class="section__wrapper -cols">
          <a href="#" class="section__wrapper -rows border">
            <div class="day-small"><span>27</span> AUG</div>
            <img src="../src/home-articles2.png" alt="" class="section__image">
            <div class="section__wrapper -cols">
              <div class="section__title">Take the sting out of moving home</div>
              <div class="section__subtitle">Whether you’re a first-time buyer or have been through the process a few times before, moving to a...</div>
            </div>
          </a>
          <a href="#" class="section__wrapper -rows border">
            <div class="day-small"><span>27</span> AUG</div>
            <img src="../src/home-articles2.png" alt="" class="section__image">
            <div class="section__wrapper -cols">
              <div class="section__title">Take the sting out of moving home</div>
              <div class="section__subtitle">Whether you’re a first-time buyer or have been through the process a few times before, moving to a...</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="section__container footer__upper">
        <div class="section__content">
          <div class="section__wrapper">
            <img src="" alt="" class="section__image">
            <div class="section__address"></div>
            <div class="section__contact"></div>
            <div class="section__menu"></div>
          </div>
          <div class="section__underline"></div>
          <div class="section__subtitle">
            Your Pension Helper is not regulated by the Financial Conduct Authority. Therefore, we are not authorised to provide financial advice in relation to your pension, but we can refer you to a suitably qualified and regulated financial adviser who can do this on our behalf. We will provide you with information only to enable you to assess your current pension situation.<br><br>If you would like to find out how much your pension would be worth in retirement and what options you have to improve your retirement income, contact us for a free, no-obligation appointment.
          </div>
        </div>
      </div>
      <div class="section__container footer__lower">©2018 Your Pension Helper</div>
    </div>
  </div>
  <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../main.js"></script>
</body>

</html>