.home-opinions {
  position: relative;
  color: #ffffff;
}

.home-opinions .section__content {
  margin-top: 69px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 54px;
}

@media screen and (max-width: 1175px) {
  .home-opinions .section__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-opinions .-cols:first-child {
  margin-left: 75px;
}

@media screen and (max-width: 1175px) {
  .home-opinions .-cols:first-child {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home-opinions .section__title {
  width: 365px;
  margin-top: 32px;
}

@media screen and (max-width: 380px) {
  .home-opinions .section__title {
    width: 90%;
  }
}

.home-opinions .-cols .section__image {
  height: 114px;
  width: 103px;
}

@media screen and (max-width: 1175px) {
  .home-opinions .-rows {
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .home-opinions .-rows {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home-opinions .-rows .section__image {
  height: 52px;
  width: 52px;
  margin-left: 93px;
}

@media screen and (max-width: 1175px) {
  .home-opinions .-rows .section__image {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .home-opinions .-rows .-cols {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home-opinions .-rows .-cols div:last-child {
  margin-top: 20px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1175px) {
  .home-opinions .-rows .-cols div:last-child {
    margin-bottom: 0;
  }
}

.home-opinions [target] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0 24px 17px;
}

.home-opinions [target] .section__svg {
  padding: 0 7px;
}

.home-opinions .section__subtitle {
  font-size: 18px;
  width: 568px;
  margin-left: 24px;
}

@media screen and (max-width: 1175px) {
  .home-opinions .section__subtitle {
    margin: 0;
  }
}

@media screen and (max-width: 567px) {
  .home-opinions .section__subtitle {
    width: 80%;
  }
}
