.breadcrumb
  background-color: #29abe2
  a
    text-decoration: none
    color: inherit
  .section__content
    justify-content: flex-start
  .section__subtitle
    font-size: 16px
    font-weight: 300
    margin: 22px 0