.breadcrumb {
  background-color: #29abe2;
}

@media screen and (max-width: 1230px) {
  .breadcrumb {
    padding-left: 4%;
    width: 96%;
  }
}

.breadcrumb a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.breadcrumb .section__content {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.breadcrumb .section__subtitle {
  font-size: 16px;
  font-weight: 300;
  margin: 22px 0;
}
