.home-articles {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-articles .border {
  border: solid 1px #29abe2;
}

.home-articles .section__underline {
  margin-bottom: 43px;
}

.home-articles .day, .home-articles .day-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #006ace;
  position: absolute;
}

.home-articles .day {
  font-size: 24px;
  line-height: 1.17;
  padding: 12px 30px 12px;
  top: 23px;
  left: 20px;
}

.home-articles .day span {
  font-size: 30px;
}

.home-articles .day-small {
  font-size: 18px;
  line-height: 1.33;
  padding: 10px 27px 10px;
  top: 25px;
  left: 15px;
}

.home-articles .day-small span {
  font-size: 24px;
}

@media screen and (max-width: 592px) {
  .home-articles .day, .home-articles .day-small {
    position: static;
    padding: 10px 0;
    width: 50%;
    margin: 20px auto 0 auto;
  }
}

.home-articles .section__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1182px) {
  .home-articles .section__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-articles .section__content .border {
    margin-top: 0 !important;
    margin-bottom: 20px;
  }
}

.home-articles .section__content:last-child {
  border: 0;
}

.home-articles .section__content .section__title {
  color: #29abe2;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  margin: 0 60px 0 68px;
}

@media screen and (max-width: 592px) {
  .home-articles .section__content .section__title {
    margin: 0 auto;
    max-width: 462px;
  }
}

.home-articles .section__content .section__subtitle {
  color: #000000;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.33;
  margin: 20px 60px 40px 68px;
}

@media screen and (max-width: 592px) {
  .home-articles .section__content .section__subtitle {
    margin: 15px auto 25px;
    max-width: 80%;
  }
}

.home-articles .section__content .section__image {
  margin: 57px 60px 27px 68px;
}

@media screen and (max-width: 592px) {
  .home-articles .section__content .section__image {
    margin: 25px auto 27px auto;
    width: 100%;
  }
}

@media screen and (max-width: 592px) {
  .home-articles .-rows {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-articles .-rows:last-child {
  margin-top: 42px;
}

.home-articles .-rows .section__title {
  line-height: 1.33;
  margin: 60px 20px 15px 0;
}

@media screen and (max-width: 592px) {
  .home-articles .-rows .section__title {
    margin: 0 auto 15px auto;
  }
}

.home-articles .-rows .section__subtitle {
  margin: 0 25px 0 0;
}

@media screen and (max-width: 592px) {
  .home-articles .-rows .section__subtitle {
    margin: 0 auto 25px auto;
  }
}

.home-articles .-rows .-cols {
  border: 0;
}

.home-articles .-rows .section__image {
  margin: 60px 15px 24px 58px;
}

@media screen and (max-width: 592px) {
  .home-articles .-rows .section__image {
    margin: 25px auto 24px auto;
    width: 60%;
    height: auto;
  }
}

.home-articles .section__image {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.home-articles .section__wrapper {
  position: relative;
  max-width: 590px;
  width: 100%;
}
