.home-calc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 89px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-calc-link .section__title {
  font-size: 24px;
  font-weight: 700;
  color: #006ace;
  border-bottom: 1px solid #006ace;
}

@media screen and (max-width: 600px) {
  .home-calc-link .section__title {
    width: 80%;
  }
}

.home-calc-link .section__image {
  padding-right: 16px;
}

@media screen and (max-width: 600px) {
  .home-calc-link .section__image {
    padding: 0 0 10px;
  }
}
