.home-calc-link
  display: flex
  align-items: center
  margin-bottom: 89px
  flex-wrap: wrap
  .section__title
    font-size: 24px
    font-weight: 700
    color: #006ace
    border-bottom: 1px solid #006ace
    @media screen and ( max-width: 600px )
      width: 80%
      margin: 0 auto
      
  .section__image
    padding-right: 16px
    @media screen and ( max-width: 600px )
      padding: 0 0 10px
      // margin-left: 10px