.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1920px;
  width: 100%;
}

.section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
}

.section__title {
  font-size: 36px;
  font-family: 'Merriweather', serif;
}

@media screen and (max-width: 767px) {
  .section__title {
    text-align: center;
  }
}

.section__semi-title {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .section__semi-title {
    text-align: center;
  }
}

.section .home-sea .section__title {
  margin-bottom: 42px;
}

.section .-max-width591 {
  max-width: 591px;
}

.section .-font44 {
  font-size: 44px;
}

@media screen and (max-width: 767px) {
  .section .-font44 {
    font-size: 32px;
  }
}

.section .-font30 {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .section .-font30 {
    font-size: 25px;
  }
}

.section .-weight300 {
  font-weight: 300;
}

.section .-weight700 {
  font-weight: 700;
}
