.section
  display: flex
  position: relative
  .section__title
    font-family: 'Merriweather', serif
  .section__weight700
    font-weight: 700
  .section__weight300
    font-weight: 300

  &--home-sea
    display: flex
    justify-content: center
    height: 710px
    background-image: url('../../src/home-image.png')
    background-size: cover
    background-position: 0% 100%
    color: #ffffff
    &__container
      margin-right: 231px
      margin-top: 254px
    &__title
      font-size: 44px
      max-width: 591px
    &__text
      font-size: 30px
      line-height: 1.33
      max-width: 576px
      margin-top: 42px
    &__form
      &__upper
      &__lower
