.calculator {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator .section__content {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.calculator .section__title {
  font-weight: 700;
  margin-top: 91px;
  margin-bottom: 25px;
}

.calculator .section__subtitle {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 87px;
}

.calculator .section__subtitle span {
  font-weight: 700;
}

.calculator .section__button {
  background-color: #ffba00;
  font-size: 22px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: #0a2f73;
  text-align: center;
  padding: 23px 22px;
  margin-bottom: 95px;
  margin-top: 48px;
}

.calculator .section__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator .section__wrapper .section__wrapper {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calculator .section__wrapper .section__wrapper span {
  position: absolute;
  top: -59px;
  border: solid 1px #006ace;
  background-color: #006ace;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  max-width: 131px;
  padding: 10px 0;
  text-align: center;
}

.calculator .section__wrapper .section__wrapper .triangle {
  position: absolute;
  bottom: 0;
  top: -30px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #006ace;
  border-bottom: none;
  background-color: transparent;
}

.calculator .section__wrapper span {
  color: #29abe2;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Merriweather', serif;
}

.calculator .section__wrapper input {
  margin: 0 17px;
  height: 67px;
  font-size: 24px;
  font-family: 'Merriweather';
  font-weight: 700;
  border: solid 1px #006ace;
  text-align: center;
}

.calculator .section__wrapper input::-webkit-input-placeholder {
  color: #29abe2;
}

.calculator .section__wrapper input:-ms-input-placeholder {
  color: #29abe2;
}

.calculator .section__wrapper input::-ms-input-placeholder {
  color: #29abe2;
}

.calculator .section__wrapper input::placeholder {
  color: #29abe2;
}

.calculator .section__wrapper .input1 {
  max-width: 131px;
}

.calculator .section__wrapper .input2 {
  max-width: 201px;
  text-align: left;
  padding-left: 10px;
}
