.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1270px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 1270px) {
  .nav__image {
    margin: 15px 0 !important;
  }
}

.nav__image2 {
  margin: 0 118px 0 28px;
}

.nav__image3 {
  margin: 0 13px 0 35px;
}

@media screen and (max-width: 1270px) {
  .nav__image3 {
    margin: 0 13px 0 0 !important;
  }
}

.nav__categories {
  margin-top: 39px;
  margin-bottom: 38px;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1270px) {
  .nav__categories {
    width: 100%;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0;
  }
}

.nav__category {
  font-size: 20px;
  color: #0a2f73;
  text-decoration: none;
}

.nav__phone {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__phone-text1, .nav__phone-text2 {
  margin-left: 1px;
}

.nav__phone-text1 {
  font-size: 18px;
  color: #0a2f73;
  text-align: left;
}

.nav__phone-text2 {
  font-size: 28px;
  color: #29abe2;
  font-weight: 700;
}

.nav__phone-text3 {
  font-size: 16px;
  color: #0a2f73;
}
