.nav
  display: flex
  align-items: center
  justify-content: center
  @media (min-width: 768px) and ( max-width: 1270px )
    flex-wrap: wrap
  @media screen and ( max-width: 767px )
    padding-top: 20px
    // flex-direction: column
    flex-wrap: wrap
    // justify-content: space-around
    
  &__image
    align-self: center
    @media (min-width: 768px) and ( max-width: 1270px )
      margin: 15px 0 !important
    &1
    &2
      margin: 0 118px 0 28px
      @media (min-width: 768px) and ( max-width: 1270px )
        margin: 0 30px !important
      @media screen and ( max-width: 767px )
        margin-right: 0

    &3
      margin: 0 13px 0 35px
      @media (min-width: 768px) and ( max-width: 1270px )
        margin: 0 13px 0 0 !important
      @media screen and ( max-width: 767px )
        margin-left: 0
  &__categories
    width: 450px
    display: flex
    margin: 33px 0
    justify-content: space-between
    align-content: center
    @media (min-width: 768px) and ( max-width: 1270px )
      order: 2
      justify-content: space-around
      flex-basis: 100%
    @media screen and ( max-width: 767px )
      display: none
      // order: 2
      // width: 100%
      // text-align: center
      // flex-direction: column
      // margin: 20px 0

  &__category
    margin: 15px 0
    font-size: 20px
    color: #0a2f73
    text-decoration: none

  &__phone
    text-decoration: none
    display: flex
    @media ( min-width: 768px ) and ( max-width: 1270px )
      order: 1
      margin-top: 15px
    @media screen and ( max-width: 767px )
      flex-basis: 100%
      justify-content: center
      margin-top: 30px
    
  &__phone-text
    &1, &2
      margin-left: 1px
    &1
      font-size: 18px
      color: #0a2f73
      text-align: left
    &2
      font-size: 28px
      color: #29abe2
      font-weight: 700
    &3
      font-size: 16px
      color: #0a2f73

  &__hamburger
    //slightly modified version of https://codepen.io/erikterwan/pen/EVzeRP
    display: block
    position: relative
    top: 50px
    left: 50px
    z-index: 1
    user-select: none
    width: calc(100% - 100px)
    @media screen and ( min-width: 768px )
      display: none
    a
      text-decoration: none
      color: #232323
      transition: color 0.3s ease
      &:hover
        color: tomato

    span
      display: block
      width: 33px
      height: 4px
      margin-bottom: 5px
      position: relative
      background: #0a2f73
      border-radius: 3px
      z-index: 1
      transform-origin: 4px 0px
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease
    span:first-child
      transform-origin: 0% 0%
    span:nth-last-child(2)
      transform-origin: 0% 100%
    input
      display: block
      width: 40px
      height: 32px
      position: absolute
      top: -7px
      left: -5px
      cursor: pointer
      opacity: 0 
      z-index: 2
      -webkit-touch-callout: none

    input:checked ~ ul
      transform: none
      opacity: 1

    input:checked ~ span
      opacity: 1
      transform: rotate(45deg) translate(-2px, -1px)
      background: #232323

    input:checked ~ span:nth-last-child(3)
      opacity: 0
      transform: rotate(0deg) scale(0.2, 0.2)

    input:checked ~ span:nth-last-child(2)
      transform: rotate(-45deg) translate(0, -1px)


  &__hamburger-menu
    position: absolute
    opacity: 0
    width: 100%
    margin: -100px 0 0 -50px
    padding: 50px
    padding-top: 125px
    background: #29abe2
    list-style-type: none
    -webkit-font-smoothing: antialiased
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%
    transform: translate(-100%, 0)
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.5s 
    

    li
      padding: 10px 0
      font-size: 22px
      text-align: center
    .nav__category
      color: #0a2f73