.background
  &--home-sea
    height: 710px
    background-image: url('src/home-image.png')
    background-position: 0% 100%
    background-size: cover
    //on mobile height auto to be able to break things into column
    @media screen and ( max-width: 767px )
      height: auto
  &--home-crest
    height: 817px
    background-image: url('src/home-crest.png')
    background-position: 100%
    background-size: cover
    @media screen and ( max-width: 767px )
      height: auto